@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #34313d;
}

.button {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  background-color: #2bd0d0;
  padding: 1.2rem 2.7rem;
  border-radius: 2.8rem;
  transition: filter 0.2s ease-out;
}
.button:hover {
  filter: opacity(0.6);
}
.button--lighter:hover {
  filter: brightness(1.2);
}
.button--shorten {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  cursor: pointer;
  width: 3rem;
  height: 2rem;
}
.hamburger__bar {
  width: 100%;
  height: 0.3rem;
  background-color: #9e9aa8;
}

.shorten-bar {
  position: relative;
  z-index: 2;
  transform: translateY(50%);
  background-image: url("../../assets/images/bg-shorten-desktop.svg");
  background-color: #3a3054;
  max-width: 70vw;
  padding: 3rem;
  border-radius: 0.5rem;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
}
.shorten-bar__input {
  flex: 1;
  border-radius: 0.5rem;
  height: 4rem;
  padding-inline: 2rem;
  outline: none;
  border: none;
}

.stat {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: start;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-top: 5rem;
  max-width: 25rem;
  height: 20rem;
}
.stat__image {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 6rem;
  height: 6rem;
  background-color: #3a3054;
  padding: 1.5rem;
  border-radius: 100%;
}
.stat__title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #34313d;
}
.stat__description {
  margin: 0;
  color: #9e9aa8;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.stat--top {
  align-self: flex-start;
}
.stat--middle {
  align-self: center;
}
.stat--bottom {
  align-self: flex-end;
}

.boost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem;
  background-image: url("../../assets/images/bg-boost-desktop.svg");
  background-color: #3a3054;
}
.boost__title {
  color: #fff;
  font-size: 2.8rem;
}

.footer {
  background-color: #34313d;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 3.5rem 15rem 3.5rem 7rem;
}
.footer__logo {
  filter: invert(100%);
  align-self: flex-start;
}
.footer__nav {
  margin-left: 20rem;
  display: flex;
  gap: 4rem;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__nav-title {
  font-weight: 700;
  font-size: 1.7rem;
  color: #fff;
  margin-bottom: 2rem;
}
.footer__nav-item {
  font-size: 1.5rem;
  color: #9e9aa8;
  transition: all 0.3s ease-out;
}
.footer__nav-item:hover {
  color: #fff;
}
.footer__socials {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  max-width: 110.8rem;
  margin-inline: 13.5rem;
  margin-top: 4.8rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.header__logo {
  width: 12rem;
  height: 3.2rem;
}
@media only screen and (max-width: 950px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  align-self: center;
  gap: 3.2rem;
}
.header__nav-item {
  color: #9e9aa8;
  cursor: pointer;
}
.header__nav-item a:hover {
  color: #34313d;
}
.header__login-section {
  display: flex;
  align-items: center;
  gap: 3.7rem;
  margin-left: auto;
}
@media only screen and (max-width: 950px) {
  .header__login-section {
    display: none;
  }
}
.header__login-button {
  color: #9e9aa8;
}
.header__login-button:hover {
  color: #34313d;
}
.header__signup-button {
  color: #fff;
  background-color: #2bd0d0;
  padding: 0.8rem 2.3rem;
  border-radius: 2.8rem;
  transition: filter 0.2s ease-out;
}
.header__signup-button:hover {
  filter: opacity(0.6);
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin-left: 13.5rem;
  margin-top: 5rem;
  margin-bottom: 12rem;
}
.hero__text-content {
  max-width: 56rem;
  margin-inline: auto;
}
.hero__title {
  color: #34313d;
  font-size: 6rem;
  line-height: 6rem;
  margin: 0;
}
.hero__description {
  color: #9e9aa8;
  font-size: 1.7rem;
  line-height: 3rem;
  margin: 0;
  margin-bottom: 3rem;
}
.hero__image {
  position: relative;
  width: 70rem;
  right: -5rem;
}

.statistics {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 5rem;
  background-color: #eff1f7;
}
.statistics__bar {
  position: absolute;
  top: 18rem;
  bottom: 0;
  margin: auto;
  width: 55vw;
  height: 0.7rem;
  background-color: #2bd0d0;
}
.statistics__text-content {
  text-align: center;
  max-width: 45rem;
  margin-bottom: 5rem;
}
.statistics__title {
  font-size: 4rem;
  color: #34313d;
  margin: 1rem;
}
.statistics__description {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #9e9aa8;
}
.statistics__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  height: 23rem;
}

/*# sourceMappingURL=main.css.map */
