@use '../abstracts' as a;

.header {
    display: flex;
    align-items: center;
    max-width: 110.8rem;
    margin-inline: auto;
    margin-top: 4.8rem;

    font-size: 1.5rem;
    font-weight: 700;

    &__logo {
        width: 12rem;
        height: 3.2rem;
    }

    &__nav {
    }

    &__nav-list {
        display: flex;
        align-self: center;
        gap: 3.2rem;
    }

    &__nav-item {
        color: a.$color-font-secondary;
    }

    &__login-section {
        display: flex;
        align-items: center;
        gap: 3.7rem;
        margin-left: auto;
    }

    &__login-button {
        color: a.$color-font-secondary;

        &:link,
        &:visited {
        }
    }

    &__signup-button {
        color: #fff;
        background-color: a.$color-cyan;
        padding: 0.8rem 2.3rem;
        border-radius: 2.8rem;
    }
}
