@use '../abstracts' as a;

.button {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;

    background-color: a.$color-cyan;
    padding: 1.2rem 2.7rem;
    border-radius: 2.8rem;

    transition: filter 0.2s ease-out;

    &:hover {
        filter: opacity(0.6);
    }

    &--lighter {
        &:hover {
            filter: brightness(1.2);
        }
    }

    &--shorten {
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }
}
