@use '../abstracts' as a;

.stat {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: start;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    padding-top: 5rem;
    max-width: 25rem;
    height: 20rem;

    &__image {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        width: 6rem;
        height: 6rem;
        background-color: a.$color-blue-dark;
        padding: 1.5rem;
        border-radius: 100%;
    }

    &__title {
        margin: 0;
        margin-bottom: 2rem;
        font-size: 1.7rem;
        color: a.$color-font-primary;
    }

    &__description {
        margin: 0;
        color: a.$color-font-secondary;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    &--top {
        align-self: flex-start;
    }

    &--middle {
        align-self: center;
    }

    &--bottom {
        align-self: flex-end;
    }
}
